.dashboard-page h1,
.dashboard-page h2,
.dashboard-page h3,
.dashboard-page h4,
.dashboard-page p {
    color: black;
}

h2 {
    color: $off-white;
    text-align: center;
}

.dashboard-page {
    display: flex;
}

aside.dashboard-sidebar {
    display: flex;
    flex-direction: column;
    width: max-content;
    // height: 100vh;
    padding: 1rem;
    background: $yellow;

    .sidebar-icon {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        p {
            color: $dk-green;
        }

        svg {
            fill: $dk-green;
            margin-right: 1rem;
            font-size: 2.95rem;
        }
    }
}

.dashboard-cards {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 1500px;
    margin: 2rem auto;

    .user-courses,
    .user-feedback {
        grid-column: 2 / 3;
    }

    .user-profile {
        grid-row: 1 / 3;
        height: 45rem;
        background-color: $yellow;
    }

    ::-webkit-scrollbar {
        width: 0.5rem;
      }
      
      ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $yellow;
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
      }

    .user-courses,
    .user-feedback {
        position: relative;
        overflow: scroll;
        max-height: 20rem;
        width: 60%;
        margin-left: auto;
    }

    ul {
        padding: 0 1rem 1rem 1rem;
        margin: 0;
    }

    .user-courses,
    .user-feedback,
    .user-profile {
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: $dk-green;
        box-shadow: $box-bevel;
        margin: 1rem;
        position: relative;
        margin-left: 2rem;
        margin-right: 2rem;
        padding: 1.5rem;
        height: fit-content;

        h2 {
            color: $off-white;
        }

        h3{
            color: $yellow;
            padding: 0 1rem 1rem 1rem;
        } 
        p {
            color: white;
            text-align: left;
            padding: 0.5rem;
        }

        img {
            margin: auto;
            width: 40%;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        li {
            list-style: none;
            padding-bottom: 0.5rem;
            a {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        button {
            background-color: $yellow;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            width: 80%;
            box-shadow: $box-bevel;
            color: $dk-green;
            bottom: 2rem;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            width: fit-content;
            margin: 1rem;
        }
    }

    .user-courses {
        h3, p {
            text-align: left;
        }
    }
}